{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron card">
                <h3>
                    Curso de Python com Luciano Ramalho
                </h3>
                <h4 class="mt-4">Matrículas abertas, custo R$ 1.000,00</h4>
                <form class="row gy-2 gx-3 align-items-center validate"
                      action="https://herokuapp.us5.list-manage.com/subscribe/post?u=2f15fc29c913882ddc3d5a309&amp;id=243a8e1ba3"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      target="_blank" novalidate>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInput"></label>
                        <input type="text" class="form-control" id="autoSizingInput" placeholder="Seu Primeiro nome">
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="mce-EMAIL"></label>
                        <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                               placeholder="exemplo@email.com">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        Mais detalhes sobre o instrutor.
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
                                 class="img-thumbnail float-start me-3"/>
                            Ramalho é sócio e professor na <a href="www.python.pro.br">Python Pro</a> e autor do
                            Livro <a href="https://novatec.com.br/livros/pythonfluente/"
                                     target="blank">Python Fluente </a>. Foi diretor técnico do
                            Brasil Online, primeiro portal da Abril S/A
                            na web. Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando
                            Python
                            desde 1998. Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da
                            República, Globo.com e Itaú. Palestrante em eventos internacionais como FISL, PyCon US e
                            QSCON. Ajudou a criar a Associação Python Brasil e foi seu presidente. É membro da
                            Python
                            Software Foundation e fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
                        </p>
                        <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                                data-preference-id="34994390-b26c7cd8-79f8-4388-8a72-2877430cde77" data-source="button">
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}